<div id="user-edit" class="panel round shadow">
  <div id="user-edit-title" class="content-header">
    <h1><%= t('users.account') %></h1>
  </div>
  <div id="user-edit-content" class="user-content">
    <%= render 'form' %>
  </div>
</div>