// Place all the styles related to reseted elements.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  display: block;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}